{% extends "template.html" %}

{% block title %}Sentiment Analysis - Home{% endblock %}
{% block heading %}Sentiment Analysis{% endblock %}

{% block content %}
<form action="/predict" method="post">
    <div class="form-group">
        <textarea class="form-control" name="review" rows="5" placeholder="Enter your review" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

{% if error_message %}
<div class="alert alert-danger mt-3" role="alert">
    {{ error_message }}
</div>
{% endif %}
{% endblock %}
